# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/

# Environment variables
.env

# Django
*.log
db.sqlite3 
media/ 
staticfiles/

# User uploaded files
media/

# IDE
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Celery Beat runtime schedule file
*celerybeat-schedule*